<!-- footer -->
<nav class="navbar fixed-bottom bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Copyright © <%= currentYear %>
        </a>
    </div>
</nav>
</body>

</html>
<script src="/script.js"></script>